<html>
  <head>
    <title>Woof Woof</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <h1>List Breeds</h1>
    <p>List all breeds here GET</p>
  </body>
</html>
